.modal{
    margin-left: 650px;
    margin-top: 100px;
    padding: 10px;
    width: 300px;
    border: none;
}

.modal-eliminar{
    padding: 30px;
    margin-left: 600px;
    margin-top: 250px;
    padding: 20px;
    width: 430px;
    border: none;
    text-align: center;
}

.title-modal-agregar{
    margin-top: 10px;
    margin-left: 60px;
}

.title-modal-editar{
    margin-top: 10px;
    margin-left: 70px;
}


.formulario{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

input{
    background:none;
    color: #000;
    font-size: 18px;
    /* padding: 10px 10px 10px 5px; */
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(165, 98, 196);
    width: 215px;
}

.btn-modal{
    position: absolute;
    top: -16px;
    left: -12px;
    border-radius: 50%;
    height: 50px;
}

#btn-cerrar-modal-eliminar{
    position: absolute;
    top: -12px;
    left: -12px;
    border-radius: 50%;
    height: 50px;
}

.alertaimg{
    width: 50px;
    margin-bottom: 10px;
}

.btn-editar-modal{
    margin-left: 75px;
}

.btn-agregar{
    margin-left: -900px;
    margin-top: -20px;
    margin-bottom: -10px;
}

.table_img{
    margin-left: 35px;
}

.btnAgregar{
    margin-left: 65px;
}
