@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.img{
    width: 25px;
}

.nav_logo{
    width: 300px;
    margin-right: 280px;
}

a{
    text-decoration: none;
}

a h4{
    color: black;
}

.menu{
    color: black;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    gap: 50px;
}

.menu__links{
    height: 50%;
    transition: transform .5s;
    display: flex;
    color: black;
    /* gap: 50px; */
}

.active--bottom{
    border-bottom: 3px solid rgb(165, 98, 196);
    border-radius: 7px;
}

.fa-magnifying-glass{
    margin-left: 25px;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    /* Muestra el elemento */
    /* --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  */
    /* esconde el elemento */
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* rotación imagen */
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);  
    /* rotación imagen */
    --transform: rotate(0);
}

.menu__item--pc{
    width: 170px;
}

.menu__link{
    color: black;
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    /* background-color: #5e7094; */
    border-bottom: 3px solid rgb(165, 98, 196);
    border-radius: 7px;
}

/* rotación imagen */
.menu__arrow{
    transform: var(--transform);
    transition: transform .3s ;
    display: block;
    margin-left: 3px;
}

/* 
Para ocultar los elementos */
.menu__nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: rgba(228, 196, 243, 0.781);
}

.menu--nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    /* right: 0;
    bottom: 0; */
    width: max-content;
    /* transform: translateY(100%); */
    background-color: rgba(228, 196, 243, 0.781);
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
    transition: 0.2s linear;
}

.menu__link--inside:hover{
    font-size: 18px;
    
}

.menu__link--inside i{
    color: rgb(78, 3, 112);
    margin-left: 7px;
}


/* FORMULARIOS */

h1{
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.table__usuarios {
    width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
}

.table__roles {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

.table__permisos {
    width: 900px;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: rgba(228, 196, 243, 0.781);
    cursor: pointer;
    text-align: center;
}

.table tbody tr:nth-child(even) {
    background-color: rgba(228, 196, 243, 0.781);
}

table img{
    width: 20px;
    position: relative;
    left: 17px;
}

.descripcion{
    width: 500px;
}

.button{
    background-color: transparent !important;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(217, 173, 238);
    color: rgba(17, 24, 39, 1);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(165, 98, 196);
    color: white;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    margin: 0 5px;
}

.pagination button.current {
    background-color: rgb(165, 98, 196);
}

/* EDICCIONES */

/* PERMISOS */

.title--permisos{
    position: absolute;
    left: 470px;
    top: 80px;
}

.body{
    display: flex;
}

.input_permisos--editar{
    margin: 5px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid rgb(172, 170, 170);
    width: 250px;
}

.descripcion_permisos--editar{
    width: 250px;
    height: 170px;
    padding: 10px;
    position: absolute;
    margin-left: 100px;
    left: 460px;
    top: 290px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

h1{
    text-align: center;
}

.form p{
    width: 350px;
    margin-left: 230px;
}

.datos{
    justify-content: center;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    margin-left: 50px;
    text-align: center;
    line-height: 50px;
}

video{
    width: 350px;
}

.input_permisos--editar, .descripcion_permisos--editar, .descripcion_permisos--agregar{
    margin: 5px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid rgb(172, 170, 170);
}


.section_img img{
    width: 450px;
    height: 400px;
}


.button_guardar--permisos{
    display: flex;
    justify-content: center;
    margin-top: 220px;
    margin-left: 210px;
    width: 300px;
}


.button_guardar--permisos {
    display: block;
    background-color: rgb(217, 173, 238);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
 }
    
.button_guardar--permisos:hover{
    background-color: rgb(165, 98, 196);
    color: white;
}
    
.button_guardar--permisos{
    transition: 0.5s linear 0.1s;
}

/* ROLES */

.title--roles{
    position: absolute;
    left: 485px;
    top: 130px;
}

.datos--roles{
    justify-content: center;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    margin-left: 50px;
    text-align: center;
    line-height: 60px;
}

.button_guardar--roles{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 220px;
    width: 300px;
}


.button_guardar--roles {
    display: block;
    background-color: rgb(217, 173, 238);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
 }
    
.button_guardar--roles:hover{
    background-color: rgb(165, 98, 196);
    color: white;
}
    
.button_guardar--roles{
    transition: 0.5s linear 0.1s;
}

/* USUARIOS */

.title--usuarios{
    position: absolute;
    left: 485px;
    top: 130px;
}

.datos--usuarios{
    justify-content: center;
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    margin-left: 50px;
    text-align: center;
    line-height: 60px;
}

.button_guardar--usuarios{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 220px;
    width: 300px;
}


.button_guardar--usuarios {
    display: block;
    background-color: rgb(217, 173, 238);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
 }
    
.button_guardar--usuarios:hover{
    background-color: rgb(165, 98, 196);
    color: white;
}
    
.button_guardar--usuarios{
    transition: 0.5s linear 0.1s;
}

/* AGREGAR */

/* ROLES */

.title--roles--agregar{
    position: absolute;
    left: 470px;
    top: 120px;
}

.input_roles--agregar--id{
    margin-left: 50px;
}

/* PERMISOS */

.title--permisos--agregar{
    position: absolute;
    left: 450px;
    top: 70px;
}

.input_permisos--agregar--id{
    margin-left: 47px;
}

.descripcion_permisos--agregar{
    width: 250px;
    height: 170px;
    padding: 10px;
    position: absolute;
    margin-left: 15px;
    left: 460px;
    top: 290px;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.footer__network, .footer__logo, .footer__policy, .footer__copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.footer__logo, .footer__policy{
    gap: 20px;
}

.footer__logo img{
    width: 30px;
}