.input-group textarea{
    height: 65px;
    width: 270px;
    border-radius: 5px;
}

.input-group select{
    height: 45px;
    width: 280px;
    border-radius: 15px;
    cursor: pointer;
    color: #707070;
}

/*Boton Volver Catalogo*/
.btnAgregar{
    position: absolute;
    cursor: pointer;
    background: rgb(165, 98, 196);
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.4);
    transition: all 500ms ease;
    left: 120px;
    top: 120px;
}
.btnAgregar a{
    text-decoration: none;
    color: #fff;
    width: 100%;
}